header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  color: white;
  transition: all .3s ease;
}.navActive{
  background-color: black;
  .navWrapper{
    padding: 1rem;
  }
}
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  transition: all .3s ease;
  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      padding: 1rem;
      font-size: 1.1rem;
      color: white;
    }
    .active {
      color: var(--themeColor);
      font-weight: 500;
    }
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    a{
      color: white;
      font-size: 1.1rem;
    }
  }
}
