footer{
    margin-top: 80px;
    background-color: #F4F7FB;
}

.footerWrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    padding: 5rem 1rem;
    border-bottom:1px solid rgb(186, 185, 185) ;
    .footerLogo{
        grid-column:1 / 3 ;
    }
    h3{
        margin-bottom: 20px;
    }
    p{
        margin: 10px 0;
    }
}
.copyRight{
    text-align: center;
    padding: 2rem;
}