.addBanner{
    background-image:linear-gradient(180deg, #00000057, #00000017), url(../../../public/img/login-banner.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 1rem;
    margin-bottom: 40px;
    .title{
        text-align: center;
        color: white;
    }
}